<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Table demo</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    
    </head>
    
    <body>
        <div class="row mb-3 text-center">
            <div class="col-4 themed-grid-col">.col-4</div>
            <div class="col-4 themed-grid-col">.col-4</div>
            <div class="col-4 themed-grid-col">.col-4</div>
        
            <table id="myTable" cellpadding="2" cellspacing="2" border="1" onclick="tester()"></table>
        </div>
        <script>
            var student;
            for (var j = 0; j < 10; j++) {
                student = {
                    name: "Name" + j,
                    rank: "Rank" + j,
                    stuclass: "Class" + j,
                };
                var table = document.getElementById("myTable");
                var row = table.insertRow(j);
                var cell1 = row.insertCell(0);
                var cell2 = row.insertCell(1);
                var cell3 = row.insertCell(2);

                cell1.innerHTML = student.name,
                cell2.innerHTML = student.rank,
                cell3.innerHTML = student.stuclass;
            }

            student = {
                    name: "NewName",
                    rank: "NewRank",
                    stuclass: "NewClass",
                };

            function process(data){
                var table = document.getElementById("myTable");
                table.innerHTML = "";
                data.forEach(gpu => {
                    gpu.prices.forEach(price =>{
                        console.log(gpu.name)
                        console.log(price)
                        
                        var row = table.insertRow();
                        var cell1 = row.insertCell(0);
                        var cell2 = row.insertCell(1);
                        var cell3 = row.insertCell(2);

                        cell1.innerHTML = gpu.name,
                        cell2.innerHTML = price.price,
                        cell3.innerHTML = price.retailer;
                    })                  
                });
            
            }

            function tester(){
                var table = document.getElementById("myTable");
                var row = table.insertRow();
                var cell1 = row.insertCell(0);
                var cell2 = row.insertCell(1);
                var cell3 = row.insertCell(2);

                cell1.innerHTML = student.name,
                cell2.innerHTML = student.rank,
                cell3.innerHTML = student.stuclass;

                fetch('http://localhost:8000/products/')
                    .then((response) => response.json())
                    .then((data) => process(data));

            }
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

    </body>
</html>

